*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(200, 200, 214);
    background-image: url(https://th.bing.com/th/id/OIP.29_eSI7zra9XQGYlMupksAHaEK?w=289&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-size: cover;
}

.form{
    width:400px;
    height: 670px;
    background-color: rgba(171, 161, 161, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    border: 3px solid rgba(141, 136, 136, 0.3);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2 {
    margin: 0 0 20px 0;
    text-align: center;
    color: white;
}
.inp {
    width:300px;
    height:60px;
    margin-top: 25px;
}
.inp p{
    margin: 5px 10px;
}
.inp input{
    width:100%;
    height:40px;
    padding:10px;
    border-radius: 10px;
    /* box-shadow: -10px -5px rgb(226, 86, 10); */
}
#btn {
    width: 100%;
    padding: 10px;
    margin-top:20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size:20px;
    border-radius: 4px;
    cursor: pointer;
}
#btn:hover {
    background-color: #45a049;
}
#account{
    margin: 5px;
   margin-left:100px ;
}
#account a{
    text-decoration: none;
    color: #1a11bc;
    cursor:pointer;
   
}
#account a:hover{
    text-decoration: underline;
}
/* ====login css==== */

.login{
    
    width:400px;
    height: 550px;
    background-color: rgba(126, 123, 123, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    border: 3px solid rgba(141, 136, 136, 0.3);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* ======home======= */
.signup-link a{

    color: white;
    cursor: pointer;
    text-decoration: none;
}
.p{
   
    margin:5px 20px;
    padding:5px;
    
}
.p a{
    text-decoration: none;
    color:white;
    margin-top: 5px;
}
.p a:hover{
    text-decoration: underline;
}
i{
   position:absolute;
   margin-top:17px;
   /* margin-left: 10px; */
    right:80px;
    transform: translateY(-50%);
    color:black;
    font-size: 1.2em;
}
/* ========home====== */
 